
#button{
    
    -fx-font-weight: bold;
    -fx-border-radius: 12px;
}
 .spinner {
    -fx-spacing: 0.25em; /* 3 */
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent; /* this line was added */
}